<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="guzzi.project.mapper.UserMapper">
    <insert id="signup" parameterType="java.util.Map">
        INSERT INTO USERS
        ( USER_ID, ID, PASSWORD, CREATE_AT )
        VALUES
        (  USER_SEQ.NEXTVAL , #{ID}, #{PASSWORD}, sysdate)
    </insert>
    <insert id="createTokenTable" parameterType="java.util.Map">
        INSERT INTO TOKEN
        ( USER_ID, TOKEN_ID, REFRESH_TOKEN, CREATE_AT )
        VALUES
        (
        #{USER_ID}
        ,  TOKEN_SEQ.NEXTVAL
        , 'INIT'
        , sysdate
        )
    </insert>
    <select id="idChk" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) FROM USERS
        WHERE ID = #{ID}
    </select>
    <select id="getUserData" parameterType="guzzi.project.DTO.userDto" resultType="java.util.Map">
        SELECT NVL(ID,'N') AS ID,
                NVL(PASSWORD, 'N') AS PASSWORD,
                USER_ID
        FROM USERS
        WHERE 1=1
        AND ID = #{ID}
<!--        AND PASSWORD = #{PASSWORD}-->
    </select>
    <select id="findByUserId">
    </select>
    <update id="updateToken" parameterType="java.util.Map">
        UPDATE TOKEN
        SET
        REFRESH_TOKEN = #{refreshToken}
        WHERE USER_ID = #{USER_ID}
    </update>
</mapper>
<!--    <select id="findAll" resultType="User">-->
<!--        SELECT * FROM users-->
<!--    </select>-->

<!--    <insert id="insert" parameterType="User">-->
<!--        INSERT INTO users (name, email) VALUES (#{name}, #{email})-->
<!--    </insert>-->

<!--    <update id="update" parameterType="User">-->
<!--        UPDATE users SET name = #{name}, email = #{email} WHERE id = #{id}-->
<!--    </update>-->

<!--    <delete id="delete" parameterType="int">-->
<!--        DELETE FROM users WHERE id = #{id}-->
<!--    </delete>-->
